<div class="wrap-form">
  <h2>5% off on the first order</h2>
  <div class="wrap-form-img">
    <img src="/assets/discountImage.png" alt="discount" />
    <form formGroupName="discountForm">
      <div class="wrap-label-input">
        <label for="name">Name</label>
        <input
          id="name"
          formControlName="name"
          type="text"
          placeholder="Name"
        />
      </div>
      <div class="wrap-label-input">
        <label for="phone">Phone</label>
        <input
          id="phone"
          formControlName="phone"
          type="text"
          placeholder="Phone"
        />
      </div>
      <div class="wrap-label-input">
        <label for="email">Email</label>
        <input
          id="email"
          formControlName="email"
          type="text"
          placeholder="Email"
        />
      </div>
      <button type="submit">Get a discount</button>
    </form>
  </div>
</div>
